nav{
    box-shadow: 0px 4px 3px 0px rgb(122, 121, 121);
}
a:hover{
    color:rgb(255, 0, 0) !important;
    background-color: rgb(0, 204, 255);
    font-size: larger;
    font-family:Tahoma;
    font-style: italic;
    transition: ease all 1s;
}
img{
    width: 40px;
    padding:15px 5px 5px 5px;
    transition: ease all 0.5s;
}
i{
    padding-top:13px;
    margin-left: 7px;
}
img:hover{
    transform: rotate(-15deg)scale(110%);
    filter: drop-shadow(100%);
    margin-right: 20px;
    border-radius:20px;
}
body *{
    transition: ease all 1s;
}
#i1{
    padding-top: 12px;
    position: relative;
}